<!DOCTYPE html>
<html>
<head>
    <title>Explanation</title>  
    <% include partials/head %>
  </head>
  <body>
    <header>
        <% include partials/header %>
    </header>

<section class="row">
  <section class="large-10 column">
    <h2 class="first">Explanation here</h2>
  </section>
</section>
<% include partials/footer %>
